*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(61, 52, 52);
    height: 100vh;
    margin: 0;
}
h1{
    color: black;
    font-size: 40px;
}

#inputNomes{
    background-color: rgba(0, 0, 0, 0.705);
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 8px;
}
#inputAddNomes{
    height: 25px;
    border-radius: 4px;
    border: solid 1px rgb(51, 50, 50);
}

#adicionar{
    height: 25px;
    background-color: rgb(44, 39, 39);
    color: white;
    border: none;
    border-radius: 4px;
}

ol{
    color: white;
    border-radius: 5px;
    padding-top: 16px;
    font-size: large;
    background-color: rgb(44, 39, 39);
}

#delete{
    color: red;
    position: relative;
    bottom: 21px; 
    left: 75%;
    width: 23%;
}

.card{
    color: white;
    background-color: rgba(0, 0, 0, 0.692);
    padding: 24px;
    min-width: 300px;
    border-radius: 24px;
}

.card .input-group{
    margin-top: 8px;
}

.card input{
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border-radius: 4px;
    border: solid 1px rgb(51, 50, 50);
}

.card button{
    background-color: rgb(44, 39, 39);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px;
    width: 100%;
    font-size: 16px;
    margin-top: 8px;
}

h2{
    margin-bottom: 0;
    text-align: center;
}

.results-values{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80vw;
} 

.results-values .result-value{
    background-color: rgb(255, 254, 254);
    color: black;
    margin: 8px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    font-size: 24px;
}